
<div class="row">

    <div class="col-xs-12">
        <button 
            class="btn btn-success" 
            (click)="onNewAddress()"
            >Add Address</button>
    </div>
    <br>

    <div *ngIf="addresses.length > 0" routerLinkActive="active">
        <div class="col-xs-6" >
            <app-address-details 
                *ngFor="let a of addresses; let i=index" 
                [address]="a"
                [index]="i"
                ></app-address-details>
        </div>
       
    </div>

    <div class="col-xs-6" >
        <h3 *ngIf="addresses.length==0">No address</h3>
    </div>
</div>
